.contact__form
  display: flex
  flex-direction: column

  &-title
    font-size: 1.6rem
    text-align: center

  .message-error
    margin-top: 3%
    min-height: 30px
    margin-left: 2px
    color: #e3501fee

  form
    display: flex
    flex-direction: column
    align-items: center

    .input-name, .input-email
      margin: 10px 0
      width: 500px
      height: 50px
      padding-left: 10px
      font-size: 1.2rem
      border-radius: 10px
      border: 1px solid #000
      transition: .2s

      &:focus
        scale: 1.01

    .textarea
      margin: 10px 0
      width: 500px
      height: 200px
      resize: none
      padding-top: 10px
      padding-left: 10px
      font-size: 1.2rem
      border-radius: 10px
      transition: .5s

      &:focus
        scale: 1.01

    .alert-error
      border: 2px solid red

    .btn-send
      padding: 10px 60px
      font-size: 1.2rem
      border-radius: 10px
      margin: 0 auto
      border: none
      color: #FEFEFE
      background-color: #243658
      transition: .4s

      &:hover
        cursor: pointer
        opacity: 0.6

      &:active
        opacity: 0.9

@media (max-width: 420px)
  .contact__form

    &-title
      margin-top: 7%
      font-size: 1.4rem

    form

      .input-name, .input-email
        width: 100%

        &:hover
          outline: #000
          border: 2px solid

      .textarea
        width: 100%

        &:hover
          outline: #000
          border: 2px solid #000

@media (max-width: 720px) and (min-width: 421px)
  .contact__form

    form

      .input-name, .input-email
        width: 400px

      .textarea
        width: 400px

      .btn-send
        padding: 10px 80px
