@import '@/assets/sass/_variables.sass'

.contact
  min-height: 570px
  margin-top: 2%
  display: flex
  flex-direction: column
  align-items: center
  color: $color-text

  .contact__title
    font-size: 2rem

  .contact__list
    margin: 0
    padding: 0
    list-style-type: none
    display: flex
    justify-content: space-around

    .contact-url
      margin: 10px
      a
        img
          width: 50px
          height: 50px

@media (max-width: 500px)
  .contact
    margin-top: 10%
    min-height: 430px

@media (max-width: 700px) and (min-width: 501px)
  .contact
    margin-top: 6%
    min-height: 600px