@import '@/assets/sass/_variables.sass'

.about
  margin-top: 2%
  color: $color-text
  display: flex
  flex-direction: column
  align-items: center
  min-height: 590px

  .about__title
    font-size: 2rem

  .about__text
    margin-top: 2%
    width: 600px

    .text
      margin: 10px
      font-size: 1.2rem
      text-align: start
  
  .about__skills
    margin-top: 2%
    width: 600px
    display: flex
    flex-direction: column
    align-items: center

    .skills__title
      font-size: 1.4rem

    .box__skills
      margin-top: 1%

      .skills
        margin: 10px 0