@import '@/assets/sass/_variables.sass'

footer
  display: flex
  color: $color-text
  align-items: flex-end
  justify-content: center
  min-height: 200px
  
  p
   font-size: 1.3rem
   font-weight: 600 