@import '@/assets/sass/_variables.sass'

footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  color: #243658

  p
    text-align: center
    font-size: 1.3rem
    font-weight: 500

@media (max-width: 420px)
  footer
    p
      font-size: 1rem

@media (max-width: 720px) and (min-width: 421px)
  footer
    p
      font-size: 1.18rem

@media (max-height: 800px)
  footer
    position: relative