.container-lastcommit
  margin-top: 1%
  h3
    font-size: 1.2rem
    text-align: center

  .box-infos
    margin-top: 3%
    display: flex
    flex-direction: column
    align-items: center

    p
      font-size: 1.2rem
      margin: 2px 0

      a
        &:hover
          opacity: .7

    .date
      font-size: 1rem