@import '@/assets/sass/_variables.sass'

.home
  color: $color-text
  margin-top: 2%
  min-height: 690px

  .home__photo
    display: flex
    justify-content: center
    margin-bottom: 1%

    .photo
      width: 150px
      height: 150px
      background-image: url('@/assets/images/me.jpeg')
      background-size: 110%
      background-position: left
      background-repeat: no-repeat
      border-radius: 50%
      transition: .5s
      border: 10px solid #000

      &:hover
        scale: 1.05
        box-shadow: 2px 2px 8px #555252

  .home__infos
    width: 300px
    height: 120px
    background-color: #fdf9f9ee
    border-radius: 30px
    padding-top: 5px
    padding-bottom: 5px
    margin: 0 auto

    h1, h3
      text-align: center

    h1
      font-size: 3rem
      font-weight: 500
      text-shadow: 1px 1px 2px $color-text

    h3
      font-size: 1.7rem
      font-weight: 500
      text-shadow: 1px 1px $color-text

@media (max-width: 420px)
  .home
    margin-top: 10%
    min-height: 690px

    .home__photo
      margin-bottom: 5%

    .home__infos
      width: 60%

      h1
        font-size: 2rem
      
      h3
        font-size: 1.5rem

@media (max-width: 720px) and (min-width: 421px)
  .home
    margin-top: 6%
    min-height: 500px

    .home__photo
      margin-bottom: 5%