@import '@/assets/sass/_variables.sass'
  
.home
  color: $color-text
  margin-top: 2%
  min-height: 590px

  .home__photo
    display: flex
    justify-content: center

    .photo
      width: 150px
      height: 150px
      background-image: url('@/assets/images/me.jpeg')
      background-size: 110%
      background-position: left
      background-repeat: no-repeat
      border-radius: 50%
      transition: .2s

      &:hover
        box-shadow: 2px 2px 8px #555252

  h1, h3
    text-align: center

  h1
    margin-top: 3%
    font-size: 3rem
    font-weight: 500
    text-shadow: 1px 1px 2px $color-text
  
  h3
    font-size: 1.7rem
    font-weight: 500
    text-shadow: 1px 1px $color-text

@media (max-width: 500px)
  .home
    margin-top: 10%
    min-height: 350px

@media (max-width: 700px) and (min-width: 501px)
  .home
    margin-top: 6%
    min-height: 500px