@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
}

body {
  height: 100vh;
}